.sec1{
	width:100vw;
	height:77vh;
	background-image: url("../images/starwarsLogo2.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
	max-width: auto;
	min-height: auto;
}
.logo{
	color: rgba(255, 255, 255, 0.8);
	font-size: 60px;
	line-height: 600px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-top: -5px;
	font-family: stardos stencil;
}
.content{
	padding: 15px 0;
	max-width: 960px;
}
.time{
	font-family: stardos stencil;
}
.par{
	font-family:bitter;
	max-width: 900px;
	margin: 0 auto 20px
}
.pictures{
	width:150px;
	height:200px;
	border:inset #bdbdbd 3px;
	max-width: 900px;
	max-height: auto;
	border-radius: 15px;
}
.ships{
	width:300px;
	height:290px;
	opacity:0.8;
	padding:15px;
}
footer{
	width:100%;
	height:100vh;
	background-image: url("../images/footerimg.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	color:#fafafa;
}

a:link{
  text-decoration:none;
  color:white;
}
a:hover{
  text-decoration:none;
  color:white;
}
a:visited{
  text-decoration:none;
  color:white;
}